div {
    border: dashed 1px var(--border);
    border-radius: 10px;
    text-align: center;
    padding-block: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    position: relative;
}

div[inert] {
    opacity: 0.5;
    cursor: not-allowed;
}

:host:has(div[inert]) {
    display: block;
    cursor: not-allowed;
}

p {
    margin: 0;
}

input {
    opacity: 0;
    inset: 0;
    position: absolute;
    cursor: pointer;
}

.message {
    font-size: 14px;
}

div:has(input:focus-visible) button {
    outline: solid 2px var(--focus-border-color);
    outline-offset: 1px;
}
