div {
    border: dashed 1px var(--border);
    border-radius: 10px;
    text-align: center;
    padding-block: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    position: relative;
}

div:has(button:disabled), button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

p {
    margin: 0;
}

input {
    opacity: 0;
    width: 1px;
    height: 1px;
    top: 0;
    left: 0;
    position: absolute;
}

.message {
    font-size: 14px;
}