:host {
    display: block;
}

label, div {
    width: fit-content;
    display: block;
}

input {
    border-radius: 6px;
    border-color: var(--border);
    border-style: solid;
    border-width: 1px;
    padding-inline: 12px;
    padding-block: 8px;
    font-size: 15px;
    margin-top: 6px;
}

input:focus-visible {
    /* border-color: var(--focus-border-color);
    outline: var(--focus-outline); */
    border-color: var(--focus-inner);
    outline: var(--focus-outer);
}

label {
    font-size: 15px;
    font-weight: 500;
    color: oklch(0.14 0 0);
}

input:disabled {
    opacity: 0;
}