img {
    border-radius: 50%;
    border: solid 1px white;
    width: var(--avatar-size);
    height: var(--avatar-size);
}

img:nth-child(1) {
    z-index: 5;
}

img:nth-child(2) {
    z-index: 4;
}

img:nth-child(3) {
    z-index: 3;
}

img:nth-child(4) {
    z-index: 2;
}

img:nth-child(5) {
    z-index: 1;
}

div {
    display: grid;
    grid-template-columns: repeat(5, calc(var(--avatar-size) / 2));
    width: fit-content;
    transition: grid-template-columns 0.25s ease-out;
}

div:hover {
    grid-template-columns: repeat(5, var(--avatar-size));
    transition: grid-template-columns 0.25s ease-out;
}

* {
    box-sizing: border-box;
}

:host {
    --avatar-size: 32px;
}