button {
    background-color: var(--black);
    color: white;
    border-radius: 6px;
    border: 0;
    padding-block: 8px;
    padding-inline: 24px;
    font-family: inherit;
    font-weight: 500;
    cursor: pointer;
}

:host(.outline) button {
color: var(--black);
/* box-shadow: 0 1px 1px 0 rgba(0,0,0,.1); 
border: solid 1px var(--border); */
/* box-shadow: rgba(0,0,0,.12) 0 1px 1px, rgba(60,66,87, .2) 0 0 0 1px; */
/* box-shadow: rgba(0, 0, 40, 0.05) 0px 1px 0px; */
box-shadow: inset rgba(0, 0, 40, 0.1) 0px -1px 0px;
border: solid 1px transparent;
background: linear-gradient(white, white) padding-box,
linear-gradient(#dcdde0, #c7c8cb) border-box;
}

:host(.solid) button {
    background-image: linear-gradient(#6862ea, #5954e5);
    text-shadow: 1px 1px 1px #04006c68;
    border: solid 1px #5b51c0;
    color: var(--white);
    box-shadow: inset 0px 1px 1px 0 rgba(255, 255, 255, 0.25);
    /* box-shadow: inset 0px 1px 1px 0 rgba(255, 255, 255, 0.25), 0 1px 1px 0 rgba(19, 0, 47, 0.3); */
    }

:host(.solid) button:hover {
    background-image: linear-gradient(#736cff, #5a55f2);
}

:host(.solid) button:active {
    background-image: linear-gradient(#5e58d5, #4e49d9);
    scale: 0.98;
}

:host(.outline) button:hover {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1); 
}

:host(.outline) button:active {
    scale: 0.98;
    background: linear-gradient(rgb(246, 246, 246), rgb(246, 246, 246)) padding-box,
linear-gradient(#dcdde0, #c7c8cb) border-box;
}

* {
    box-sizing: border-box;
}

button:focus-visible {
    /* outline: 2px solid #000;
    outline-offset: 1px; */
    /* border-color: var(--focus-border-color); */
    outline: solid 2px var(--focus-border-color);
    outline-offset: 1px;
  }

  :host(.icon) button {
    padding: revert;
    width: 34px;
    aspect-ratio: 1;
  }


  @media (prefers-color-scheme: dark) {
    button {
        background-color: var(--white);
        color: var(--black);
    }

    :host(.solid) button {
        /* background-image: linear-gradient(oklch(0.64 0.21 280.54), oklch(0.54 0.21 278.06)); */
        /* border: 1px solid oklch(0.51 0.17 282.68); */
        box-shadow: oklch(0.13 0.09 264.05 / 0.82) 0px 1px 0px;
    }
    
    :host(.outline) button {
        background: linear-gradient(var(--bg-secondary), var(--bg-secondary)) padding-box padding-box, linear-gradient(rgb(220, 221, 224), rgb(199, 200, 203)) border-box border-box;
        color: var(--white);
        box-shadow: oklch(0.13 0.09 264.05) 0px 1.5px 0px;
    }
}