:host {
    display: block;
}

input[type="file"] {
    border-radius: 6px;
    border-color: var(--border);
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    font-family: inherit;
    color: var(--ui-text);
    font-weight: 350;
    padding: 0;
    cursor: pointer;
    background-color: white;
}

@media(prefers-color-scheme: dark) {
    input[type="file"] {
        background-color: oklch(0.39 0 0);
    }
}

input[type="file"]:focus-visible {
    border-color: var(--focus-inner);
    outline: var(--focus-outer);
}

::file-selector-button {
    border: 0;
    font-weight: 500;
    font-family: inherit;
    color: var(--ui-text);
    border-right: solid 1px oklch(0.92 0 0);
    padding-block: 9px;
    margin-right: 16px;
    padding-inline: 12px;
    background-color: oklch(0.98 0 0);
    background-color: var(--bg-secondary);
}

input[type="file"]:disabled, input[type="file"]:disabled::file-selector-button {
    opacity: .5;
    cursor: not-allowed;
}
