progress {
    appearance: none;
    inline-size: 100%;
    block-size: 8px;
    background-color: rgb(230, 232, 235);
    border-radius: 4px;
    box-shadow: none;
    display: block;
    border: 0px;
    margin: 0px;
}

progress::-webkit-progress-value {
    background: var(--progress-color);
    /* background-image: radial-gradient(circle, color-mix(in oklch, var(--progress-color), white 30%), var(--progress-color)); */
    background-image: radial-gradient(circle at center, color-mix(in oklab, var(--progress-color), white 25%), var(--progress-color) 80%);
    box-shadow: oklch(1 0 0 / 0.5) 0 1px 2px inset;
    border-radius: 5px 0px 0px 5px;
    transition: width 0.25s ease-out 0s, background 0.25s ease-out 0s;
}

progress::-webkit-progress-bar {
    background-color: transparent;
    border-radius: 5px;
    overflow: hidden;
}

@media(prefers-color-scheme: dark) {
    progress {
        background-color: oklch(0.35 0.03 258.18);
    }
}