progress {
    appearance: none;
    inline-size: 100%;
    block-size: 8px;
    background-color: rgb(230, 232, 235);
    border-radius: 4px;
    box-shadow: none;
    display: block;
    border: 0px;
    margin: 0px;
}

progress::-webkit-progress-value {
    background: var(--progress-color);
    background-image: radial-gradient(color-mix(in oklch, var(--progress-color), white 35%), var(--progress-color));
    border-radius: 5px 0px 0px 5px;
    transition: width 0.25s ease-out 0s, background 0.25s ease-out 0s;
}

progress::-webkit-progress-bar {
    background-color: transparent;
    border-radius: 5px;
}

@media(prefers-color-scheme: dark) {
    progress {
        background-color: oklch(0.35 0.03 258.18);
    }
}