:host {
    --spring-easing: linear(
  0, 0.009, 0.035 2.1%, 0.141, 0.281 6.7%, 0.723 12.9%, 0.938 16.7%, 1.017,
  1.077, 1.121, 1.149 24.3%, 1.159, 1.163, 1.161, 1.154 29.9%, 1.129 32.8%,
  1.051 39.6%, 1.017 43.1%, 0.991, 0.977 51%, 0.974 53.8%, 0.975 57.1%,
  0.997 69.8%, 1.003 76.9%, 1.004 83.8%, 1
);
}

:host:not(:popover-open) {
opacity: 0;
filter: blur(6px);
scale: .8;
}

:host {
bottom: 16px;
left: 24px;
right: auto;
top: auto;
padding: 12px 16px;
border: 0;
background-color: #181818;
color: white;
border-radius: 8px;
transition: translate .4s var(--spring-easing), opacity .3s, filter .3s, scale .3s, display .3s;
box-shadow: rgba(0,0,0,.2) 0px 2px 4px;
}

@starting-style {
:host {
   translate: 0 30px;
 }
}

::slotted(*){
    margin: 0;
}

@media (prefers-color-scheme: dark) {
    :host {
        background-color: var(--white);
        color: var(--black);
        box-shadow: oklch(0.17 0.11 274.29 / 0.7) 0px 2px 2px, oklch(0.18 0.09 258.87 / 0.65) 0px 2px 5px;
    }
}